.location {
	font-family: 'Myriad Pro';
	color: #383838;
	font-weight: 400;
	font-size: 0.8125em;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0.234px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
	margin-bottom: 240px;
}

.location__title {
	text-transform: uppercase;
	font-size: 1.125em;
	padding: 0;
	margin: 0 0 30px;
}

.location__more{
	color: #383838;
	text-decoration: none;
}