/* --------- fonts --------- */
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "Myriad Pro ";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600; }

/* font-family: "roboto_slabbold"; */
@font-face {
  font-family: 'roboto_slabbold';
  src: url("../fonts/roboto_slab/robotoslab-bold-webfont.eot");
  src: url("../fonts/roboto_slab/robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_slab/robotoslab-bold-webfont.woff2") format("woff2"), url("../fonts/roboto_slab/robotoslab-bold-webfont.woff") format("woff"), url("../fonts/roboto_slab/robotoslab-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* font-family: "roboto_slablight"; */
@font-face {
  font-family: 'roboto_slablight';
  src: url("../fonts/roboto_slab/robotoslab-light-webfont.eot");
  src: url("../fonts/roboto_slab/robotoslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_slab/robotoslab-light-webfont.woff2") format("woff2"), url("../fonts/roboto_slab/robotoslab-light-webfont.woff") format("woff"), url("../fonts/roboto_slab/robotoslab-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* font-family: "roboto_slabregular"; */
@font-face {
  font-family: 'roboto_slabregular';
  src: url("../fonts/roboto_slab/robotoslab-regular-webfont.eot");
  src: url("../fonts/roboto_slab/robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_slab/robotoslab-regular-webfont.woff2") format("woff2"), url("../fonts/roboto_slab/robotoslab-regular-webfont.woff") format("woff"), url("../fonts/roboto_slab/robotoslab-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* font-family: "roboto_slabthin"; */
@font-face {
  font-family: 'roboto_slabthin';
  src: url("../fonts/roboto_slab/robotoslab-thin-webfont.eot");
  src: url("../fonts/roboto_slab/robotoslab-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_slab/robotoslab-thin-webfont.woff2") format("woff2"), url("../fonts/roboto_slab/robotoslab-thin-webfont.woff") format("woff"), url("../fonts/roboto_slab/robotoslab-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* --------- mixins --------- */
/* --------- components --------- */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before,
  .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 990px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before,
  .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before,
  .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #e8e8e8 url("../images/pattern.png"); }

p {
  margin: 0;
  padding: 0; }

.active {
  color: #000; }

/*sticky footer*/
/*end of sticky footer*/
.hide {
  position: absolute;
  left: -9999px; }

.title, .team__title {
  font-family: 'Myriad Pro';
  color: #323232;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.39px;
  text-align: center;
  margin: 0;
  display: block; }
  .title:before, .team__title:before, .title:after, .team__title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 15px 0;
    border-top: 1px solid rgba(200, 200, 200, 0.9);
    background: #fcfafa; }

.page-header {
  padding-top: 27px;
  margin-bottom: 35px; }

.page-footer {
  background: #e8e8e8; }
  .page-footer:before,
  .page-footer:after {
    content: " ";
    display: table; }
  .page-footer:after {
    clear: both; }

.page-footer__wrap {
  border-radius: 10px 10px 0 0;
  border: 2px solid  #000000;
  border-bottom: none;
  background-color: #b81401;
  padding: 25px; }
  .page-footer__wrap:before,
  .page-footer__wrap:after {
    content: " ";
    display: table; }
  .page-footer__wrap:after {
    clear: both; }

.copy {
  text-align: right; }

.copy__text {
  font-family: 'Myriad Pro';
  color: #e9e9e9;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 20px; }

.content {
  margin-bottom: 100px; }

.content:not(.no-sep):before {
  content: '';
  display: block;
  background: url("../images/seporator.png");
  height: 6px;
  max-width: 100%;
  margin-bottom: 80px; }

.content__title {
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px; }

.content-title__text {
  font-size: 2.875em;
  font-family: 'roboto_slabregular';
  font-weight: 100;
  text-align: center;
  color: #1b3349;
  position: relative;
  display: inline-block;
  padding: 0 70px;
  text-transform: uppercase; }
  .content-title__text:before, .content-title__text:after {
    content: '';
    display: block;
    height: 1px;
    background: #b81401;
    width: 2000px;
    position: absolute;
    top: 50%;
    margin-top: -1px; }
  .content-title__text:before {
    left: 100%; }
  .content-title__text:after {
    right: 100%; }

.top-navigation:before {
  content: '';
  display: block;
  background: #b81401;
  height: 27px;
  width: 100%; }

.logo {
  display: block;
  position: relative; }

.logo__img {
  max-width: 100%;
  height: auto; }

.navigation {
  margin-bottom: 60px; }
  .navigation:before,
  .navigation:after {
    content: " ";
    display: table; }
  .navigation:after {
    clear: both; }

.navigation__lang,
.navigation__social_list,
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.navigation__lang {
  text-align: right;
  padding: 15px 0 0;
  width: 62%;
  float: left; }

.navigation__lang_item,
.navigation__social_item,
.navigation__item {
  display: inline-block; }

.navigation__social_list {
  background-color: #b81401;
  max-width: 250px;
  padding: 9px 20px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  float: right; }

.navigation__social_item:not(:first-child) {
  padding-left: 2px; }

.navigation__social_link {
  opacity: 0.5; }
  .navigation__social_link:hover {
    transition: 0.3s;
    opacity: 1; }

.navigation__lang_item {
  padding-left: 10px; }

.navigation__list {
  float: right; }

.navigation__item {
  margin-right: 25px; }

.navigation__link {
  font-size: 1.125em;
  font-family: "roboto_slabbold";
  text-transform: uppercase;
  color: #1b3349;
  text-decoration: none; }
  .navigation__link:hover {
    transition: 0.5s;
    color: #b81401; }

.motto {
  text-align: center;
  margin-bottom: 50px; }
  .motto:before {
    content: '';
    display: block;
    background: url("../images/seporator.png");
    height: 6px;
    max-width: 100%; }

.motto__title {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.875em;
  font-family: 'roboto_slabregular';
  font-weight: 100;
  color: #1b3349;
  max-width: 435px;
  margin: 40px auto 25px;
  text-transform: uppercase;
  line-height: 1; }

.motto__quote {
  font-family: 'roboto_slablight';
  color: #3c3b3b;
  line-height: 24px;
  font-size: 0.9375em; }

.slider:before,
.slider:after {
  content: " ";
  display: table; }

.slider:after {
  clear: both; }

.bxslider {
  padding: 0;
  margin: 0; }

.bx-wrapper .bx-controls-direction a {
  width: 65px;
  height: 65px;
  z-index: 999; }

.bx-wrapper .bx-prev {
  background: url("../images/bx-prev.png") no-repeat; }
  .bx-wrapper .bx-prev:hover {
    background: url("../images/bx-prev.png") no-repeat; }

.bx-wrapper .bx-next {
  background: url("../images/bx-next.png") no-repeat; }
  .bx-wrapper .bx-next:hover {
    background: url("../images/bx-next.png") no-repeat; }

.slider .bx-next {
  right: 10px; }

.slider .bx-prev {
  left: 10px; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  background: none;
  border-color: transparent;
  left: 0; }

.bx-prev,
.bx-next {
  top: 50%;
  margin-top: -32px; }

/*pager*/
.bx-wrapper .bx-pager.bx-default-pager a {
  background: url("../images/radio.png") no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  z-index: 99; }
  .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: url("../images/radio-selected.png") no-repeat; }
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url("../images/radio-selected.png") no-repeat; }

.bx-wrapper .bx-pager {
  bottom: 20px; }

.bxslider__shadow {
  position: relative;
  bottom: 65px;
  z-index: 0; }

.sponsors .bx-next {
  right: -75px; }

.sponsors .bx-prev {
  left: -75px; }

.teams .bx-wrapper .bx-controls-direction a {
  top: 30%; }

.location {
  border-radius: 10px;
  background: #d5d5d5;
  padding: 30px; }

.location__title {
  font-size: 1.5em;
  font-family: 'roboto_slabbold';
  color: #1b3349;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 30px; }

.location__text {
  font-family: 'roboto_slabregular';
  font-size: 0.8125em;
  color: #3c3c3c;
  margin-bottom: 30px; }

.location__more {
  font-size: 0.8125em;
  font-family: 'roboto_slabbold';
  color: #b81401; }

.selected {
  background: #1b3248; }
  .selected .location__title, .selected .location__text {
    color: #fff; }

.grandstand {
  margin-bottom: 230px; }
  .grandstand .col-md-3 {
    padding-left: 0px; }

.grandstand__slogan {
  margin: 0 0 30px;
  font-family: 'roboto_slablight';
  color: #494949;
  font-size: 1.875em;
  letter-spacing: 0.44px;
  border-right: 5px solid rgba(156, 156, 156, 0.2);
  padding: 0; }

.grandstand__text {
  font-family: 'roboto_slabregular';
  color: #959595;
  font-size: 0.8125em;
  font-weight: 100;
  text-align: left;
  margin-bottom: 10px; }

.grandstand__link {
  display: block;
  text-decoration: none;
  font-family: 'roboto_slabbold';
  color: #b81401;
  font-size: 0.875em;
  text-align: right; }
  .grandstand__link:hover {
    text-decoration: underline; }

.teams__list {
  padding-left: 0;
  list-style: none; }

.teams__img {
  width: 100%; }

.teams-title__text,
.teams-text__content {
  margin: 0;
  padding: 0; }

.teams__title,
.teams__text {
  margin-bottom: 25px; }

.teams-title__text {
  font-size: 1.125em;
  font-family: 'roboto_slabbold';
  color: #1b3349; }

.teams-text__content {
  font-size: 0.8125em;
  font-family: 'roboto_slabregular';
  color: #5e5e5e; }

.teams-content__read {
  font-size: 0.8125em;
  font-family: 'roboto_slabbold';
  color: #b81401;
  text-decoration: none; }
  .teams-content__read:hover {
    text-decoration: underline; }

.teams__link {
  position: relative;
  display: block;
  border: 10px solid #fff;
  color: #b81401; }
  .teams__link:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 30px;
    height: 30px;
    background: url("../images/icon-plus.png"); }

.shadow__img {
  width: 100%;
  height: 100%; }

.sponsors {
  margin-bottom: 172px; }

.sponsors__title {
  text-transform: uppercase; }

.sponsors__list {
  list-style: none;
  padding-left: 0; }

.sponsors__item {
  min-height: 164px;
  position: relative; }
  .sponsors__item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about {
  margin-bottom: 150px; }

.about__block {
  padding: 0; }

.about__title {
  font-family: 'Myriad Pro';
  color: #3a3939;
  font-size: 0.875em;
  font-weight: 700;
  margin-top: 30px;
  line-height: 36px;
  text-align: left; }
  .about__title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-top: 1px solid rgba(200, 200, 200, 0.9);
    background: #fcfafa; }

.contacts__list {
  font-family: 'Myriad Pro';
  color: #383838;
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25); }

.contacts__term {
  width: 10px;
  float: left;
  clear: left; }

.contacts__def {
  float: left;
  margin-left: 16px; }

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 38px; }

.social__item {
  display: inline-block;
  opacity: 0.7; }
  .social__item:hover {
    opacity: 1;
    transition: 0.3s; }

.social__link {
  display: block;
  width: 35px;
  height: 35px; }

.social__img {
  width: 100%; }

input {
  outline: none; }

.search {
  position: absolute;
  right: 80px;
  bottom: 0; }

.search__input {
  text-align: right;
  height: 30px;
  position: relative; }

.search__field,
.search__btn {
  height: 100%; }

.search__field {
  max-width: 208px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px #fff, inset 0 2px 5px rgba(153, 153, 153, 0.34);
  -moz-box-shadow: 0 2px #fff, inset 0 2px 5px rgba(153, 153, 153, 0.34);
  box-shadow: 0 2px #fff, inset 0 2px 5px rgba(153, 153, 153, 0.34);
  border: solid 1px #bdbdbd;
  padding-left: 10px; }

.search__field::-webkit-input-placeholder {
  color: #000; }

.search__field:-moz-placeholder {
  color: #000; }

.search__btn {
  position: absolute;
  background: url("../images/icon-search.png") no-repeat 50% 50%;
  border: none;
  width: 28px;
  height: 28px;
  right: 0;
  top: 0;
  border-left: 1px solid #bdbdbd; }

.join {
  padding: 12px 6px;
  margin-top: 15px;
  background: #414141;
  border: 1px solid #363636;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-width: 150px; }

.input-text {
  height: 22px;
  margin-bottom: 4px;
  width: 100%;
  font-size: 0.7em;
  padding-left: 5px; }

.input-group {
  margin-bottom: 8px; }

.submit {
  text-align: right; }

.submit__buttom {
  width: 51px;
  height: 22px;
  -webkit-border-radius: 1px 2px;
  -moz-border-radius: 1px 2px;
  border-radius: 1px 2px;
  background-color: #b81401;
  font-size: 0.7em;
  border: none;
  box-shadow: inset 0 1px 1px 1px #d47165; }

@media (max-width: 767px) {
  .page-header {
    padding-top: 0;
    text-align: center; }
  .navigation__trigger {
    display: block; }
  .navigation {
    float: none; }
    .navigation:before {
      display: none; }
  .navigation__list {
    display: none;
    width: 100%; }
  .navigation__item {
    display: block;
    width: 100%; }
  .navigation__link {
    text-align: left; }
  .logo {
    float: none;
    display: inline-block;
    margin-top: 40px; }
  .about__block {
    padding-left: 10px; }
  .team__link {
    border: 5px solid #fff; } }

@media (min-width: 767px) {
  .navigation__list {
    display: block !important; } }
