/* --------- fonts --------- */
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "Myriad Pro ";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600; }

/* --------- mixins --------- */
/* --------- components --------- */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before,
  .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 990px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before,
  .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before,
  .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #e8e8e8 url("../images/pattern.png"); }

p {
  margin: 0;
  padding: 0; }

/*sticky footer*/
/*end of sticky footer*/
.hide {
  position: absolute;
  left: -9999px; }

.title, .motto__title, .team__title, .zap-feature__title, .sponsors__title {
  font-family: 'Myriad Pro';
  color: #323232;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.39px;
  text-align: center;
  margin: 0;
  display: block; }
  .title:before, .motto__title:before, .team__title:before, .zap-feature__title:before, .sponsors__title:before, .title:after, .motto__title:after, .team__title:after, .zap-feature__title:after, .sponsors__title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 15px 0;
    border-top: 1px solid rgba(200, 200, 200, 0.9);
    background: #fcfafa; }

.page-header {
  padding-top: 27px;
  margin-bottom: 76px; }

.logo {
  display: block;
  position: relative;
  float: left; }
  .logo:before,
  .logo:after {
    content: " ";
    display: table; }
  .logo:after {
    clear: both; }

.logo__wrap {
  width: 151px;
  height: 161px; }

.logo__img {
  width: 100%; }

.logo__title {
  white-space: nowrap;
  font-family: "OpenSans";
  color: #494848;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
  left: 130px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50); }

.motto__title {
  margin-bottom: 20px; }

.motto__quote {
  font-family: 'Cambria';
  color: #3c3b3b;
  font-style: italic;
  line-height: 24px;
  text-align: center; }

.content {
  font-family: 'Myriad Pro';
  color: #383838;
  font-weight: 400;
  font-size: 0.8125em;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.234px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
  margin-bottom: 240px; }

.content__title {
  text-transform: uppercase;
  font-size: 1.125em;
  padding: 0;
  margin: 0 0 30px; }

.content__more {
  color: #383838;
  text-decoration: none; }

.page-footer {
  background: #e8e8e8; }
  .page-footer:before,
  .page-footer:after {
    content: " ";
    display: table; }
  .page-footer:after {
    clear: both; }

.page-footer__wrap {
  border-radius: 10px 10px 0 0;
  border: 2px solid  #000000;
  border-bottom: none;
  background-color: #b81401;
  padding: 25px; }
  .page-footer__wrap:before,
  .page-footer__wrap:after {
    content: " ";
    display: table; }
  .page-footer__wrap:after {
    clear: both; }

.copy {
  text-align: right; }

.copy__text {
  font-family: 'Myriad Pro';
  color: #e9e9e9;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 20px; }

.navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999; }
  .navigation:before {
    content: '';
    display: block;
    background: #b81401;
    height: 27px; }
  .navigation .container {
    padding: 0; }

.navigation__trigger {
  background: #b81401;
  height: 40px;
  text-align: right;
  vertical-align: middle;
  padding: 10px;
  display: none; }

.navigation__img {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.navigation__list {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  border-radius: 0 0 10px 10px;
  float: right;
  background-color: #b81401; }
  .navigation__list:before,
  .navigation__list:after {
    content: " ";
    display: table; }
  .navigation__list:after {
    clear: both; }

.navigation__item {
  display: inline-block; }

.navigation__link {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Myriad Pro';
  color: #e9e9e9;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 24px;
  text-align: center; }
  .navigation__link:hover {
    text-decoration: underline; }

.bxslider {
  padding-left: 0; }

.bxslider img {
  width: 100%; }

.bx-wrapper {
  margin: 72px 0; }

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  width: 32px;
  height: 32px;
  /* Layer contains multiple layer styles that cannot be represented in CSS. Use the color picker or extract the layer as an image. */ }

.bx-wrapper .bx-prev {
  left: -12px;
  background: url("../images/bx-prev.png") no-repeat; }

.bx-wrapper .bx-next {
  right: -12px;
  background: url("../images/bx-next.png") no-repeat; }

.bx-prev,
.bx-next {
  top: 50%;
  margin-top: -15px; }

/*pager*/
.bx-wrapper .bx-pager.bx-default-pager a {
  background: url("../images/radio.png") no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block; }
  .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: url("../images/radio-selected.png") no-repeat; }
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url("../images/radio-selected.png") no-repeat; }

.bxslider__shadow {
  position: relative;
  bottom: 72px; }

.zap-feature {
  margin-bottom: 230px; }

.zap-feature__text {
  font-family: 'Myriad Pro';
  color: #959595;
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 0.182px;
  text-align: left;
  margin-bottom: 10px; }

.zap-feature__link {
  display: block;
  text-decoration: none;
  font-family: 'Myriad Pro';
  color: #2a99d8;
  font-size: 0.875em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.182px;
  text-align: right; }
  .zap-feature__link:hover {
    text-decoration: underline; }

.zap-feature__title {
  text-transform: uppercase;
  margin-bottom: 30px; }

.zap-feature__slogan {
  margin: 0 0 30px;
  padding: 0 3px 0 0;
  font-family: 'Myriad Pro';
  color: #494949;
  font-size: 2.114em;
  font-weight: 400;
  letter-spacing: 0.44px;
  text-align: right;
  border-right: 5px solid rgba(156, 156, 156, 0.2); }
  .zap-feature__slogan span {
    font-weight: 700; }

.sponsors {
  margin-bottom: 172px; }

.sponsors__title {
  text-transform: uppercase; }

.sponsors__list {
  list-style: none;
  padding-left: 0; }

.sponsors__item {
  min-height: 164px;
  position: relative; }
  .sponsors__item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about {
  margin-bottom: 150px; }

.about__block {
  padding: 0; }

.about__title {
  font-family: 'Myriad Pro';
  color: #3a3939;
  font-size: 0.875em;
  font-weight: 700;
  margin-top: 30px;
  line-height: 36px;
  text-align: left; }
  .about__title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-top: 1px solid rgba(200, 200, 200, 0.9);
    background: #fcfafa; }

.contacts__list {
  font-family: 'Myriad Pro';
  color: #383838;
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25); }

.contacts__term {
  width: 10px;
  float: left;
  clear: left; }

.contacts__def {
  float: left;
  margin-left: 16px; }

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 38px; }

.social__item {
  display: inline-block;
  opacity: 0.7; }
  .social__item:hover {
    opacity: 1;
    transition: 0.3s; }

.social__link {
  display: block;
  width: 35px;
  height: 35px; }

.social__img {
  width: 100%; }

input {
  outline: none; }

.search {
  position: absolute;
  right: 80px;
  bottom: 0; }

.search__input {
  text-align: right;
  height: 30px;
  position: relative; }

.search__field,
.search__btn {
  height: 100%; }

.search__field {
  max-width: 208px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px #fff, inset 0 2px 5px rgba(153, 153, 153, 0.34);
  -moz-box-shadow: 0 2px #fff, inset 0 2px 5px rgba(153, 153, 153, 0.34);
  box-shadow: 0 2px #fff, inset 0 2px 5px rgba(153, 153, 153, 0.34);
  border: solid 1px #bdbdbd;
  padding-left: 10px; }

.search__field::-webkit-input-placeholder {
  color: #000; }

.search__field:-moz-placeholder {
  color: #000; }

.search__btn {
  position: absolute;
  background: url("../images/icon-search.png") no-repeat 50% 50%;
  border: none;
  width: 28px;
  height: 28px;
  right: 0;
  top: 0;
  border-left: 1px solid #bdbdbd; }

.join {
  padding: 12px 6px;
  margin-top: 15px;
  background: #414141;
  border: 1px solid #363636;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-width: 150px; }

.input-text {
  height: 22px;
  margin-bottom: 4px;
  width: 100%;
  font-size: 0.7em;
  padding-left: 5px; }

.input-group {
  margin-bottom: 8px; }

.submit {
  text-align: right; }

.submit__buttom {
  width: 51px;
  height: 22px;
  -webkit-border-radius: 1px 2px;
  -moz-border-radius: 1px 2px;
  border-radius: 1px 2px;
  background-color: #b81401;
  font-size: 0.7em;
  border: none;
  box-shadow: inset 0 1px 1px 1px #d47165; }

.team__img {
  width: 100%; }

.team__title {
  margin-bottom: 38px; }

.team__link {
  position: relative;
  display: block;
  border: 10px solid #fff;
  font-size: 0; }
  .team__link:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 30px;
    height: 30px;
    background: url("../images/icon-plus.png"); }

.shadow__img {
  width: 100%;
  height: 100%; }

.team .content__title {
  margin-bottom: 20px; }

@media (max-width: 767px) {
  .page-header {
    padding-top: 0; }
  .navigation__trigger {
    display: block; }
  .navigation {
    float: none; }
    .navigation:before {
      display: none; }
  .navigation__list {
    display: none;
    width: 100%; }
  .navigation__item {
    display: block;
    width: 100%; }
  .navigation__link {
    text-align: left; }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3; }
  .about__block {
    padding-left: 10px; }
  .team__link {
    border: 5px solid #fff; } }

@media (min-width: 767px) {
  .navigation__list {
    display: block !important; } }
