
.bxslider{
	padding: 0;
	margin: 0;
}

.bx-wrapper .bx-controls-direction a {
	width: 65px;
	height: 65px;
}

.bx-wrapper .bx-prev {
	left: 5px;
	background:url('../images/bx-prev.png') no-repeat;
}
.bx-wrapper .bx-next{
	right: 15px;
	background:url('../images/bx-next.png') no-repeat;
	&:hover {
		background:url('../images/bx-next.png') no-repeat;
	}
}

.bx-wrapper .bx-viewport {
	box-shadow: none;
	background: none;
	border-color: transparent;
}

.bx-prev,
.bx-next {
	top: 50%;
	margin-top: -15px;
}

/*pager*/

.bx-wrapper .bx-pager.bx-default-pager a {
	background: url('../images/radio.png') no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	z-index: 99;

	&:hover {
		background: url('../images/radio-selected.png') no-repeat;
	}

	&.active {
		background: url('../images/radio-selected.png') no-repeat;
	}
}

.bx-wrapper .bx-pager {
	bottom: 20px;
}

.bxslider__shadow {
	position: relative;
	bottom: 72px;
	z-index: 0;
}
