// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
body {
	height: 100%;
}

body {
	background:#e8e8e8 url('../images/pattern.png');
	border-top:27px solid #b81401;
}
p {
	margin: 0;
	padding: 0;
}
/*sticky footer*/
.wraper {
	min-height: 100%;
	margin-bottom: -83px;
}

.wraper:after {
	content: "";
	display: block;
}

.wraper:after,
.page-footer {
	height: 80px;
}
/*end of sticky footer*/

.hide {
	position: absolute;
	left: -9999px;
}

.title{
	font-family: 'Myriad Pro';
	color:  #323232;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0.39px;
	text-align: center;
	line-height: 72px;
	margin: 0;
	display: block;

	&:before, &:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		border-top:1px solid rgba(200, 200, 200,0.9); 		
		background:#fcfafa;
	}
}

.page-header {margin-bottom: 76px;}

.motto__title{
	  @extend  .title;
	  margin-bottom: 20px;
}
.motto__quote{
	font-family: 'Cambria';
	color:  #3c3b3b;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	text-align: center;
}