.join {
	padding: 55px 6px;
	margin-top: 15px;
	background: #414141;
	border: 1px solid #363636;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.join__form {

}

.input-text {
	height: 18px;
	margin-bottom: 4px;
	width: 100%;
}