.grandstand {
	margin-bottom: 100px;
	.col-md-3 {
		padding-left: 0px;
	}
}

.grandstand__slogan {
	margin: 0 0 30px;
	font-family: 'roboto_slablight';
	color:  #494949;
	font-size: 1.875em;
	letter-spacing: 0.44px;
	border-right: 5px solid rgba(156, 156, 156, 0.2);
	padding: 0;
}

.grandstand__text {
	font-family: 'roboto_slabregular';
	color:  #959595;
	font-size:0.8125em;
	font-weight: 100;
	text-align: left;
	margin-bottom: 10px;
}

.grandstand__link {
	display: block;
	text-decoration: none;
	font-family: 'roboto_slabbold';
	color:  #b81401;
	font-size: 0.875em;
	text-align: right;

	&:hover {
		text-decoration: underline;
	}
}

