.grandstand {
	margin-bottom: 230px;
}

.grandstand__text {
	font-family: 'Myriad Pro';
	color:  #959595;
	font-size:0.875em;
	font-weight: 400;
	letter-spacing: 0.182px;
	text-align: left;
	margin-bottom: 10px;
}

.grandstand__link {
	display: block;
	text-decoration: none;
	font-family: 'Myriad Pro';
	color:  #2a99d8;
	font-size: 0.875em;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.182px;
	text-align: right;

	&:hover {
		text-decoration: underline;
	}
}

.grandstand__title {
	@extend  .title;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.grandstand__slogan {
	margin: 0 0 30px;
	padding: 0 3px 0 0 ;
	font-family: 'Myriad Pro';
	color:  #494949;
	font-size: 2.114em;
	font-weight: 400;
	letter-spacing: 0.44px;
	text-align: right;
	border-right: 5px solid rgba(156, 156, 156, 0.2);
	
	span { 
		font-weight: 700;
	}
}