
@media (max-width: $screen-xs-max){
 	.page-header {
 		padding-top: 40px;
 	}


	.navigation__trigger {
		display: block;
	}
 	.navigation{
 		float: none;

		&:before {
			display: none;

		}	
 	}
 	.navigation__list {
 		display: none;
 		width: 100%;
 	}
 	.navigation__item{
 		display: block;
 		width: 100%;
 	}
	.navigation__link{
		text-align: left;
	}
}


@media (min-width: $screen-xs-max){
	// .navigation__list {
 // 		display: block!important;
 // 		width: 100%;
 // 	}
}