
@media (max-width: $screen-xs-max){
 	.page-header {
 		padding-top: 0;
 	}


	.navigation__trigger {
		display: block;
	}
 	.navigation{
 		float: none;

		&:before {
			display: none;
		}	
 	}
 	.navigation__list {
 		display: none;
 		width: 100%;
 	}
 	.navigation__item{
 		display: block;
 		width: 100%;
 	}
	.navigation__link{
		text-align: left;
	}

	.logo{
		@include centerer (true, true);
		opacity: 0.3;
	}
	.social__list,
	.contacts__list,
	.about__title{
		padding-left: 10px;
	}

	.join{ margin-left: 10px; }



}


@media (min-width: $screen-xs-max){
	.navigation__list {
 		display: block!important;
 		// width: 100%;
 	}
}