.teams__list {
	padding-left: 0;
	list-style: none;
}

.teams__img {
	width: 100%;
}

.teams-title__text,
.teams-text__content {
	margin: 0;
	padding: 0;
}

.teams__title,
.teams__text {
	margin-bottom: 25px;
}

.teams-text__content {
	padding-bottom: 25px;
}

.teams-title__text {
	font-size: 1.125em;
	font-family: 'roboto_slabbold';
	color: #1b3349;
}

.teams-text__content {
	font-size: 0.8125em;
	font-family: 'roboto_slabregular';
	color: #5e5e5e;
}

.teams-content__read {
	font-size: 0.8125em;
	font-family: 'roboto_slabbold';
	color: #b81401;
	text-decoration: none;
	display: block;
	&:hover {
		text-decoration: underline;
	}
}

.teams__link {
	position: relative;
	display: block;
	border:10px solid #fff;
	color:  #b81401;

	&:before {
		@include centerer(true, true);
		content: '';
		width: 30px;
		height: 30px;
		background: url('../images/icon-plus.png');	
	}

}
.shadow__img{
	width: 100%;
	height: 100%;
}

