.teams__list {
	padding-left: 0;
	list-style: none;
}
.teams__item {
	.teams__content ,
	.teams__content_title  {
		margin-bottom: 20px;
	}
}
.teams__img {
	width: 100%;
}

.teams__content_title {
	margin-bottom: 38px;
}

.teams__link {
	position: relative;
	display: block;
	border:10px solid #fff;
	font-size: 0;

	&:before {
		@include centerer(true, true);
		content: '';
		width: 30px;
		height: 30px;
		background: url('../images/icon-plus.png');	
	}

}
.shadow__img{
	width: 100%;
	height: 100%;
}

