doctype html
html(lang="ru-RU")
	include ../common/head.jade
	body
		.wrapper
			include ../common/header.jade

			.container

				.row
					include ../common/motto.jade
				.row
					include ../common/slider.jade
				.row
					include ../common/location.jade
				.row
					include ../common/grandstone.jade
				.row
					include ../common/teams.jade
				.row
					include ../common/sponsors.jade
				

		include ../common/footer.jade
