doctype html
html(lang="ru-RU")
	include ../common/head.jade
	body
		.wrapper
			.container-fluid
				.row
					include ../common/header.jade
				.row
					include ../common/motto.jade
				.row
					include ../common/slider.jade
				.row
					include ../common/content.jade
				.row
					include ../common/zap-feature.jade
				.row
					include ../common/gallery.jade
				.row
					include ../common/sponsors.jade
				.row
					include ../common/about-us.jade
					
		include ../common/footer.jade
