.about
	.container
		.about__title
			.row
				.col-xs-4 Contact Us
				.col-xs-4 Get Social
				.col-xs-4 Join Us
		.row
			.col-xs-4
				dl.contacts
					dt.contacts__term P:
					dd.contacts__def +48 12 000 000 000
					dt.contacts__term E:
					dd.contacts__def contact@GrandStand
					dt.contacts__term W:
					dd.contacts__def www.GrandStand.com
					dt.contacts__term A:
					dd.contacts__def Poland, Cracow, Zielona 10     

			.col-xs-4
				ul.Social
					li
						a(href="")
							span twitter
					li
						a(href="")
							span facebook
					li
						a(href="")
							span google
					li
						a(href="")
							span bbb
					li
						a(href="")
							span nnn
			.col-xs-4
				form(action="").join
					input(type="text")
					input(type="text")
					input(type="text")
					input(type="text")
					input(type="submit" value="join us")