.about
	.container
		.row
			.about__block.col-sm-4.col-xs-12(id="about-us").tracked
				.about__title Contact Us
				dl.contacts__list
					dt.contacts__term P:
					dd.contacts__def +48 12 000 000 000
					dt.contacts__term E:
					dd.contacts__def contact@GrandStand
					dt.contacts__term W:
					dd.contacts__def www.GrandStand.com
					dt.contacts__term A:
					dd.contacts__def Poland, Cracow, Zielona 10

			.about__block.col-sm-4.col-xs-12
				.about__title Get Social
				ul.social__list
					li.social__item
						a.social__link(href="#")
							img.social__img(src="images/icon-tw.png")
							span.hide twitter
					li.social__item
						a.social__link(href="#")
							img.social__img(src="images/icon-fb.png")
							span.hide facebook
					li.social__item
						a.social__link(href="#")
							img.social__img(src="images/icon-goo.png")
							span.hide google
					li.social__item
						a.social__link(href="#")
							img.social__img(src="images/icon-ball.png")
							span.hide bbb
					li.social__item
						a.social__link(href="#")
							img.social__img(src="images/icon-flik.png")
							span.hide nnn
			.about__block.col-sm-4.col-xs-12
				.about__title Contact Us
				.join(id="join").tracked
					form.join__form(action="")
						.input-group
							input.input-text(type="text" placeholder="text")
							input.input-text(type="text" placeholder="text")
							input.input-text(type="text" placeholder="text")
							input.input-text(type="text" placeholder="text")
						.submit
							input.submit__buttom(type="submit" value="join us")