.col-xs-5
	h2.column__title Grandstand tournaments
	p.column__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
		a.read_more(href="#") / ... /

.col-xs-5.col-xs-offset-2
	h2.column__title Grandstand tournaments
	p.column__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
		a.read_more(href="#") / ... /
