.col-md-5.col-xs-6
	.content
		h2.content__title Grandstand tournaments
		p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
			a.content__more(href="#") / ... /

.col-md-5.col-md-offset-2.col-xs-6
	.content
		h2.content__title Grandstand tournaments
		p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
			a.content__more(href="#") / ... /
