.col-md-4
	.column
		h2.column__title GRANDSTAND TOURNAMENTS
		p.column__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
			a.read_more(href="#") / ... /

.col-md-4.col-md-offset-4
	.column
		h2.column__title GRANDSTAND TOURNAMENTS
		p.column__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
			a.read_more(href="#") / ... /
