footer.page-footer
	.container
		.page-footer__wrap
			.row
				.col-xs-6
					a(href="").page-footer__logo
						img(src="images/footer-logo.png" alt="footer logo")
				.col-xs-6		
					.copy
						p.copy__text Design by Veroo 2015

<!-- build:js js/vendor.js -->
//bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/bxslider/source/jquery.bxSlider.js')
//endbower
<!-- endbuild -->

<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild -->
