<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/modernizr/modernizr.js')
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-placeholder/jquery.placeholder.js')
//endbower
<!-- endbuild -->

<!-- build:js js/main.js --> 
script(src="js/main.js")

<!-- endbuild -->
