section.content
	.grandstand
		.content__title
				.content-title__text#grandstand Grandstand
		.row
			.col-md-9.col-sm-12
				.grandstand__slogan
					|Hey,Welcome to your  Awesome web Tournament.
					|Tell your readers about the latest news
				.grandstand__video
					iframe(width="100%" height="300" src="https://www.youtube.com/embed/N2tlQSnWxCE" frameborder="0" allowfullscreen)
			.col-md-3.col-sm-12
				p.grandstand__text
					|Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, 
					|nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
					|Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
					|Sed non  mauris vitae erat consequat auctor eu in elit. 
				p.grandstand__text
					|Proin gravida nibh vel velit auctor aliquet. 
					|Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
					|Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
				p.grandstand__text
					|Morbi accumsan ipsum velit. 
					|Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
				a(href="").grandstand__link Continue reading...