head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title soccer
	
	meta(name="description", content="")
	meta(name="keywords", content="")
	meta(name="author", content="Vadim D.")
	
	link(rel="shortcut icon", href="/favicon.ico", type="icon/x-icon")
	link(rel="icon", href="/favicon.ico", type="icon/x-icon")
	
	<!-- build:css css/vendor.min.css -->
	// bower:css
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	link(rel="stylesheet" href="/bower/fancybox/source/jquery.fancybox.css")
	// endbower
	link(rel='stylesheet', href='/bower/slider/jquery.bxSlider.css')
	//- link(rel="stylesheet", href="/bower/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5", type="text/css" media="screen")
	//- link(rel="stylesheet", href="/bower/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen")
	<!-- endbuild -->

	<!-- build:css css/main.min.css -->
	link(rel="stylesheet", href="css/main.css")
	<!-- endbuild -->
	
	<!-- build:js js/modernizr.min.js -->
	script(src="bower/modernizr/modernizr.js")
	<!-- endbuild -->

