head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
      title title
    
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="Vadim D.")
    
    link(rel="shortcut icon", href="/favicon.ico", type="icon/x-icon")
    link(rel="icon", href="/favicon.ico", type="icon/x-icon")
    
    <!-- build:css css/vendor.min.css -->
    // bower:css
    // endbower 
    <!-- endbuild -->
    
    <!-- build:css fonts/fonts.min.css -->
    <!-- endbuild -->
    
    <!-- build:css css/main.min.css -->
    <!-- endbuild -->
    
    <!-- build:js js/modernizr.min.js -->
    <!-- endbuild -->
