header.page-header
	nav.navigation
		.container
			.navigation__trigger.visible-sm
				img(src="../images/menu.svg", alt="menu").navigation__img.visible-sm

			ul.navigation__list
					li.navigation__item
						a.navigation__link(href="#tournament") tournament
					li.navigation__item
						a.navigation__link(href="#teams") teams
					li.navigation__item
						a.navigation__link(href="#sponsors") sponsors
					li.navigation__item
						a.navigation__link(href="#join") join
					li.navigation__item
						a.navigation__link(href="#about-us") about us
	.container
		a(href="").logo
			.logo__wrap
				img.logo__img(src="images/logo.png" alt="soccer logo")

