header.page-header
	.container
		.row
			.col-xs-6
				.logo
					img.logo__img(src="images/logo.png" alt="soccer logo")
					span.hide soccer website
			.col-xs-6
				nav.navigation
					ul.navigation__list
						each item in ['tournament', 'teams', 'sponsors', 'join', 'about us']
							li.navigation__item
								a.navigation__link(href="#")= item