section.content.no-sep
	.content__title
		.content-title__text Location
	.row
		.col-md-6.col-xs-6
			.location
				h2.location__title Grandstand tournaments
				p.location__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
				a.location__more(href="#") Read More

		.col-md-6.col-xs-6
			.location.selected
				h2.location__title Grandstand tournaments
				p.location__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.  
				a.location__more(href="#") Read More
