.col-xs-12
	ul.bxslider
		li
			img(src="images/slider-first.png" alt="first slide")
		li
			img(src="images/slider-first.png" alt="second slide")
		li
			img(src="images/slider-first.png" alt="third slide")
	.bxslider__shadow
		img(src="../images/shadow.png", alt="").shadow__img


