section.slider
	.col-xs-12
		div.bxslider.slide-menu
			div.item
				img(src="images/slider-first.png" alt="first slide")
			div.item
				img(src="images/slider-first.png" alt="second slide")
			div.item
				img(src="images/slider-first.png" alt="third slide")
		.bxslider__shadow
			img(src="images/shadow.png", alt="").shadow__img


