.sponsors
	h2.sponsors__title sponsors
	ul.sponsors__list.row
		li.sponsors__item.col-xs-6.col-md-3
			img(src="../images/icon-legion.png", alt="")
		li.sponsors__item.col-xs-6.col-md-3
			img(src="../images/icon-volcom.png", alt="")
		li.sponsors__item.col-xs-6.col-md-3
			img(src="../images/icon-car.png", alt="")
		li.sponsors__item.col-xs-6.col-md-3
			img(src="../images/icon-jart.png", alt="")