section.content
	.content__title
			#sponsors.content-title__text.tracked sponsors
	.sponsors
		ul.sponsors__list.row
			li.sponsors__item
				img(src="../images/icon-legion.png", alt="")
			li.sponsors__item
				img(src="../images/icon-volcom.png", alt="")
			li.sponsors__item
				img(src="../images/icon-car.png", alt="")
			li.sponsors__item
				img(src="../images/icon-jart.png", alt="")