.team
	.team__title Out teams
	.row
		.col-xs-4
			a.team__link(class="fancybox" rel="group" href="images/gallery-first.png")
				img.team__img(src="images/gallery-first.png", alt="first team")
			.content
				h2.content__title Grandstand tournaments
				p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
		.col-xs-4
			a.team__link(class="fancybox" rel="group" href="images/gallery-second.png")
				img.team__img(src="images/gallery-second.png", alt="second team")
			.content
				h2.content__title Grandstand tournaments
				p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 
		.col-xs-4
			a.team__link(class="fancybox" rel="group" href="images/gallery-third.png")
				img.team__img(src="images/gallery-third.png", alt="third team")
			.content
				h2.content__title Grandstand tournaments
				p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 