.team
	.team__title Out team
	.row
		.col-xs-4
			img(src="", alt="")
			.content
				h2.content__title Grandstand tournaments
				p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
		.col-xs-4
			img(src="", alt="")
			.content
				h2.content__title Grandstand tournaments
				p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 
		.col-xs-4
			img(src="", alt="")
			.content
				h2.content__title Grandstand tournaments
				p.content__text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 