section.content
	.teams
		.teams__title(id="teams").tracked teams
		ul.teams__list.row
			li.teams__item.col-sm-4.col-xs-12
				a.teams__link(class="fancybox" rel="group" href="images/image1.jpg")
					img.teams__img(src="images/image1.jpg", alt="first team")
				.shadow
					img(src="../images/shadow.png", alt="").shadow__img
				.teams__content
					h2.teams__content_title Grandstand tournaments
					p.teams__content_text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
			li.teams__item.col-sm-4.col-xs-12
				a.teams__link(class="fancybox" rel="group" href="images/image2.jpg")
					img.teams__img(src="images/image2.jpg", alt="second team")
				.shadow
					img(src="../images/shadow.png", alt="").shadow__img
				.teams__content
					h2.teams__content_title Grandstand tournaments
					p.teams__content_text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 
			li.teams__item.col-sm-4.col-xs-12
				a.teams__link(class="fancybox" rel="group" href="images/image3.jpg")
					img.teams__img(src="images/image3.jpg", alt="third team")
				.shadow
					img(src="../images/shadow.png", alt="").shadow__img
				.teams__content
					h2.teams__content_title Grandstand tournaments
					p.teams__content_text Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 