.zap-feature
	.row
		h2.zap-feature__title(id="tournament").tracked Tournament
		.col-md-9.col-sm-12
			.zap-feature__slogan
				|Hey,Welcome to your <span> Awesome </span> web Tournament.
				|Tell your readers about the latest news
			.zap-feature__video
				//- iframe(width="100%" height="300" src="https://www.youtube.com/embed/N2tlQSnWxCE" frameborder="0" allowfullscreen)
		.col-md-3.col-sm-12
			p.zap-feature__text
				|Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, 
				|nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
				|Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
				|Sed non  mauris vitae erat consequat auctor eu in elit. 
			p.zap-feature__text
				|Proin gravida nibh vel velit auctor aliquet. 
				|Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
				|Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
			p.zap-feature__text
				|Morbi accumsan ipsum velit. 
				|Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
			a(href="").zap-feature__link Continue reading...