/* font-family: "MyriadProRegular"; */
@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
/* font-family: "MyriadProBold"; */
@font-face {
	font-family: "Myriad Pro ";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
	url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

/* font-family: "OpenSansBoldItalic"; */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
	src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
	url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 600;
}