/* font-family: "MyriadProRegular"; */
@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
		 url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
/* font-family: "MyriadProBold"; */
@font-face {
	font-family: "Myriad Pro ";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
		 url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

/* font-family: "OpenSansBoldItalic"; */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
	src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
		 url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 600;
}

/* font-family: "roboto_slabbold"; */
@font-face {
	font-family: 'roboto_slabbold';
	src: url('../fonts/roboto_slab/robotoslab-bold-webfont.eot');
	src: url('../fonts/roboto_slab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto_slab/robotoslab-bold-webfont.woff2') format('woff2'),
		 url('../fonts/roboto_slab/robotoslab-bold-webfont.woff') format('woff'),
		 url('../fonts/roboto_slab/robotoslab-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

/* font-family: "roboto_slablight"; */
@font-face {
	font-family: 'roboto_slablight';
	src: url('../fonts/roboto_slab/robotoslab-light-webfont.eot');
	src: url('../fonts/roboto_slab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto_slab/robotoslab-light-webfont.woff2') format('woff2'),
		 url('../fonts/roboto_slab/robotoslab-light-webfont.woff') format('woff'),
		 url('../fonts/roboto_slab/robotoslab-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

/* font-family: "roboto_slabregular"; */
@font-face {
	font-family: 'roboto_slabregular';
	src: url('../fonts/roboto_slab/robotoslab-regular-webfont.eot');
	src: url('../fonts/roboto_slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto_slab/robotoslab-regular-webfont.woff2') format('woff2'),
		 url('../fonts/roboto_slab/robotoslab-regular-webfont.woff') format('woff'),
		 url('../fonts/roboto_slab/robotoslab-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

/* font-family: "roboto_slabthin"; */
@font-face {
	font-family: 'roboto_slabthin';
	src: url('../fonts/roboto_slab/robotoslab-thin-webfont.eot');
	src: url('../fonts/roboto_slab/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto_slab/robotoslab-thin-webfont.woff2') format('woff2'),
		 url('../fonts/roboto_slab/robotoslab-thin-webfont.woff') format('woff'),
		 url('../fonts/roboto_slab/robotoslab-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}